@{
    Layout = null;
    ViewBag.Title = "Home";
}
@section Scripts{
    <script src="~/Scripts/vue-the-mask.js"></script>
    <script src="~/Scripts/vee-validate.js"></script>
    <script src="~/Scripts/axios.js"></script>

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/home.css" rel="stylesheet" />
    <title>Cadastro de Pessoa</title>
</head>

<body>
    <div id="menu">
        <div id="menu-items">
            <div id="login-paragrafo" class="menu-item" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</div>

            <div id="id01" class="modal">
                <form class="modal-content animate" action="/Pessoa/Login" method="post">
                    <div class="imgcontainer">
                        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                        <img src="https://www.pngkey.com/png/detail/115-1150152_default-profile-picture-avatar-png-green.png" alt="Avatar" class="avatar">
                    </div>
                    <div class="container1">
                        <label for="uname"><b>Usuário:</b></label>
                        <input type="text" placeholder="E-mail" name="uname" required>
                        <label for="psw"><b>Senha:</b></label>
                        <input type="password" placeholder="Senha" name="psw" required>
                        <button class="btn btn-primary" type="submit">Login</button>
                        <label>
                            <input type="checkbox" checked="checked" name="remember"> Lembrar de mim
                        </label>
                    </div>
                    <div class="container1" style="background-color:#f1f1f1">
                        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                        <span class="psw"><a href="#">Esqueceu a senha?</a></span>
                    </div>
                </form>
            </div>

            <script>
                // Get the modal
                var modal = document.getElementById('id01');
                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function (event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }
            </script>
            <div id="formulario-paragrafo" class="menu-item">
                <a href="@Url.Action("Cadastrar", "Pessoa")" class="elements">Formulário </a>
            </div>
            <div id="cadastro-paragrafo" class="menu-item">
                <a href="@Url.Action("Listar", "Pessoa")" class="elements">Cadastros </a>
            </div>
        </div>
        <div id="menu-background-pattern"></div>
        <div id="menu-background-image"></div>
    </div>
</body>
</html>
<script src="~/Scripts/home.js"></script>