@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body {
    background-color: rgb(20, 20, 20);
    margin: 0px;
}

#menu {
    align-items: center;
    display: flex;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

#menu-items {
    margin-left: clamp(4rem, 10vw, 48rem);
    z-index: 2;
}

#menu[data-active-index="0"] > #menu-background-pattern {
    background-position: 0% -25%;
}

#menu[data-active-index="1"] > #menu-background-pattern {
    background-position: 0% -50%;
}

#menu[data-active-index="2"] > #menu-background-pattern {
    background-position: 0% -75%;
}

#menu[data-active-index="3"] > #menu-background-pattern {
    background-position: 0% -100%;
}

#menu[data-active-index="0"] > #menu-background-image {
    background-position: center 45%;
}

#menu[data-active-index="1"] > #menu-background-image {
    background-position: center 50%;
}

#menu[data-active-index="2"] > #menu-background-image {
    background-position: center 55%;
}

#menu[data-active-index="3"] > #menu-background-image {
    background-position: center 60%;
}

#menu-background-pattern {
    background-image: radial-gradient( rgba(255, 255, 255, 0.1) 9%, transparent 9% );
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;
    height: 100vh;
    left: 0px;
    position: absolute;
    top: 0px;
    transition: opacity 800ms ease, background-size 800ms ease, background-position 800ms ease;
    width: 100vw;
    z-index: 1;
}

#menu-background-image {
    background-image: url("https://th.bing.com/th/id/R.5178a673e59c16267be3b47e4f416f0b?rik=inVMRuVhxw1cyA&riu=http%3a%2f%2fcdn.ebaumsworld.com%2fmediaFiles%2fpicture%2f718392%2f84890873.jpg&ehk=l5xCt484%2bF2j5cPcag0IGL2nbT98L9bBudh%2fg4a5WVI%3d&risl=&pid=ImgRaw&r=0");
    background-position: center 40%;
    background-size: 110vmax;
    height: 100%;
    left: 0px;
    opacity: 0.15;
    position: absolute;
    top: 0px;
    transition: opacity 800ms ease, background-size 800ms ease, background-position 800ms ease;
    width: 100%;
    z-index: 0;
}

@media (max-width: 1000px) {
    #menu-background-image {
        background-size: cover;
    }
}

#menu-items:hover ~ #menu-background-pattern {
    background-size: 11vmin 11vmin;
    opacity: 0.5;
}

#menu-items:hover ~ #menu-background-image {
    background-size: 100vmax;
    opacity: 0.1;
}

#menu-items:hover > .menu-item {
    opacity: 0.3;
}

    #menu-items:hover > .menu-item:hover {
        opacity: 1;
    }

.menu-item {
    color: white;
    cursor: pointer;
    display: block;
    font-family: 'Raleway';
    font-size: clamp(3rem, 8vw, 8rem);
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    text-decoration: none;
    transition: opacity 400ms ease;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #363636;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

    button:hover {
        opacity: 0.8;
    }

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.botaologin {

}

img.avatar {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
}

.container1 {
    padding: 26px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 45%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

#menufixo {
    position: absolute;
    top: 0;
}

a {
    color: inherit;
}

    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }
